<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTRO-HTML</title>
    <link href="/css/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <Header>
        <section class="contenedor01">
            <h1>Prueba del proyecto</h1>
            <h2>Esto es una prueba para el curso Digital House Full Stack</h2>
        </section>
        <section class="contenedor02">
        <h3>Los temas a tratar son:</h3>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
        </ul>
        <article class="contenedor03">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam ad laborum quas molestias suscipit voluptatum numquam, quisquam, recusandae unde blanditiis quibusdam possimus repudiandae tempora impedit officia vitae est autem expedita.</p>
        </article>
    </section>
    </Header>
</body>

</html>